body{
    background-image:url('hongkong.jpg');

}
#header{
    margin-top:300px;
    text-align:center;
    color:white;
    font-size:30px;
    font-weight: 200px;
}
a{
    text-decoration:none;
    background-color:bisque;
}
a:hover{
    background-color:red;
    color:white;
}